<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>


  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Services\Logs\QueueClient.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
      <!--<add key="IsAsync" value="true"/>-->
      <add key="AsyncType" value="File|Service"/>
    </NetlogSettings>
  </Netlog>

  
  <appSettings>
<!-- 
    <add key="SystemKey" value="4.0.2.0-734a739868a76423"/>
    <add key="RemoteName" value="McQueueRemote"/>
    <add key="Provider" value="0"/>
    <add key="LoadOnStart" value="true"/>
    
    <add key="MaxSize" value="999999"/>
    <add key="SyncOption" value="Manual"/>
    <add key="XmlDataConfig" value=""/>
    <add key="TcpPort" value="9015"/>
    <add key="SecureChannel" value="false"/>

    <add key="EnableMailer" value="true"/>
     -->
    <!-- Mail Config 
    <add key="IntervalManager" value="60000"/>
    <add key="IntervalDequeue" value="60000"/>
    <add key="MailerQueuePath" value="C:\Nistec\MQueue\MailerQueue\"/>
    <add key="MailerStorePath" value="C:\Nistec\MQueue\MailerStore\"/>
    <add key="MinItemsPerQueue" value="999999"/>
    <add key="MaxItemsPerSession" value="1000"/>
    <add key="DeleteIntervalSeconds" value="60"/>
    <add key="EnableChunk" value="true"/>
    -->
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Nistec.Queue.Service.QueueProxy">
        <endpoint address="net.tcp://127.0.0.1:9015/QueueProxy" binding="netTcpBinding" bindingConfiguration="tcp_Unsecured" contract="Nistec.Messaging.Proxies.IQueueProxy"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
  <!-- mailerSettings
  
  <mailerSettings>
    <host id="myt_relay">
      <Port value=""/>
      <Host value="myt_relay"/>
      <UserName value=""/>
      <Password value=""/>
      <Domain value=""/>
      <QueuePath value=""/>
      <EnableChunk value="true"/>
    </host>
  </mailerSettings>
 -->
  
  <!-- Register a section handler for the remoteSettings section
  
	<remoteSettings>

		<queueSettings name="NC_Quick">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_Bulk">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MO">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MT">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Bezeq">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Inforu">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Unicell">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Teleclal">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual1">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual2">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>


	</remoteSettings>

	 -->
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
