<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="RemoteCache" type="Nistec.Caching.Config.CacheConfigClient, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>

  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\Cache\CacheConsole.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File"/>
    </NetlogSettings>
  </Netlog>
 
  <RemoteCache>

    <CacheApiSettings>

      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "true"/>
      <add key="CacheExpiration" value = "0"/>
      <add key="SessionTimeout" value = "30"/>

    </CacheApiSettings>

   
    <TcpClientSettings>

      <host HostName="nistec_cache_bundle"
          Address="localhost"
          Port="13000"
          IsAsync="false"
          ConnectTimeout="50000"
          ProcessTimeout="50000"
          ReceiveBufferSize="4096"
          SendBufferSize="4096"/>

      <host HostName="nistec_cache_manager"
         Address="localhost"
         Port="13005"
         IsAsync="false"
         ConnectTimeout="50000"
         ProcessTimeout="50000"
         ReceiveBufferSize="4096"
         SendBufferSize="4096"/>


    </TcpClientSettings>

    <!--PipeDirection="In|Out|InOut"  PipeOptions="None|WriteThrough|Asynchronous"-->
    <PipeClientSettings>
      
      <host HostName="nistec_cache_bundle"
      PipeName="nistec_cache_bundle"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_cache_bundle"
      ConnectTimeout="50000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

      <host HostName="nistec_cache_manager"
      PipeName="nistec_cache_manager"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_cache"
      ConnectTimeout="50000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

    </PipeClientSettings>

    <HttpClientSettings>

      <host HostName="nistec_cache_bundle"
         Address="http://localhost/"
         Port="13010"
         Method="post"
         ConnectTimeout="5000"
         ProcessTimeout="5000"/>

    </HttpClientSettings>


  </RemoteCache>

  <appSettings>
    <add key="EnableLog" value = "false"/>
    <add key="EnableJsonController" value = "false"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
