<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="RemoteQueue" type="Nistec.Caching.Config.QueueConfigClient, Nistec.Queue, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>

  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\Queue\QueueConsole.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File"/>
    </NetlogSettings>
  </Netlog>
 
  <RemoteQueue>

    <QueueApiSettings>

      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "true"/>
      <add key="QueueExpiration" value = "0"/>
      <add key="SessionTimeout" value = "30"/>

    </QueueApiSettings>

   
    <TcpClientSettings>

      <host HostName="nistec_queue_bundle"
          Address="127.0.0.1"
          Port="15000"
          IsAsync="false"
          ConnectTimeout="50000"
          ProcessTimeout="50000"
          ReceiveBufferSize="4096"
          SendBufferSize="4096"/>

      <host HostName="nistec_queue_manager"
         Address="127.0.0.1"
         Port="15005"
         IsAsync="false"
         ConnectTimeout="50000"
         ProcessTimeout="50000"
         ReceiveBufferSize="4096"
         SendBufferSize="4096"/>


    </TcpClientSettings>

    <!--PipeDirection="In|Out|InOut"  PipeOptions="None|WriteThrough|Asynchronous"-->
    <PipeClientSettings>
      
      <host HostName="nistec_queue_bundle"
      PipeName="nistec_queue_bundle"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_cache_bundle"
      ConnectTimeout="50000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

      <host HostName="nistec_queue_manager"
      PipeName="nistec_queue_manager"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_queue_manager"
      ConnectTimeout="50000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

    </PipeClientSettings>

    <HttpClientSettings>

      <host HostName="nistec_queue_bundle"
         Address="http://localhost/"
         Port="15100"
         Method="post"
         ConnectTimeout="5000"
         ProcessTimeout="5000"/>

    </HttpClientSettings>


  </RemoteQueue>

  <appSettings>
    <add key="EnableLog" value = "false"/>
    <add key="EnableJsonController" value = "false"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
