<?xml version="1.0"?>
<configuration>

  <configSections>

    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Lib, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="MQueue" type="Nistec.Messaging.Server.QueueConfig, Nistec.Queue.Server, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>

  </configSections>

  
  <Netlog>
    <NetlogSettings>
      <!--<add key="LogFilename" value="C:\Nistec\Services\Logs\Queue.log"/>-->

      <add key="LogFilename" value="E:\Nistec\Logs\Queue.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>

  <MQueue>

    <QueueSettings>
      
      <add key="MaxSize" value="2000000"/>
      <add key="DefaultExpiration" value="30"/>
      <add key="SyncInterval" value="2"/>
      <add key="InitialCapacity" value="100"/>
      <add key="EnableLog" value="true"/>
      <add key="InBufferSize" value="8192"/>
      <add key="OutBufferSize" value="8192"/>
      <add key="QueueConfigFile" value = "C:\Nistec\Bin_4.0.1\MCache\References\Config\McSyncCache.sync"/>
      <add key="EnableFileWatcher" value = "true"/>
      <add key="TaskerTimeout" value="60"/>
      <add key="EnableAsyncTask" value="true"/>
      
      <add key="EnableMailerQueue" value="false"/>
      <add key="EnableQueueManager" value="false"/>
      <add key="EnableTcpListener" value="false"/>
      <add key="EnableFolderListener" value="false"/>
      <add key="EnableDbListener" value="false"/>

      <add key="EnableSizeHandler" value="false"/>
      <add key="EnablePerformanceCounter" value="false"/>

      <add key="EnableMailerHost" value="true"/>
      <add key="EnableMailerQueue" value="false"/>

      <!-- Mailer Config -->
      <add key="IntervalManager" value="60000"/>
      <add key="IntervalDequeue" value="60000"/>
      <add key="MailerQueuePath" value="C:\Nistec\MailQueue\"/>
      <add key="MailerStorePath" value="C:\Nistec\MailStore\"/>
      <add key="MinItemsPerQueue" value="999999"/>
      <add key="MaxItemsPerSession" value="1000"/>
      <add key="DeleteIntervalSeconds" value="60"/>
      <add key="EnableChunk" value="true"/>
      
    </QueueSettings>

    <PipeServerSettings>

      <pipe PipeName="mc_enqueue"
         PipeDirection="InOut"
         PipeOptions="None"
         VerifyPipe="mc_cache"
         ConnectTimeout="5000"
         InBufferSize="8192"
         OutBufferSize="8192"
         MaxServerConnections="1"
         MaxAllowedServerInstances="255"/>

      <pipe PipeName="mc_dequeue"
        PipeDirection="InOut"
        PipeOptions="None"
        VerifyPipe="mc_cache"
        ConnectTimeout="5000"
        InBufferSize="8192"
        OutBufferSize="8192"
        MaxServerConnections="1"
        MaxAllowedServerInstances="255"/>

      <pipe PipeName="mc_queue_manager"
        PipeDirection="InOut"
        PipeOptions="None"
        VerifyPipe="mc_cache"
        ConnectTimeout="5000"
        InBufferSize="8192"
        OutBufferSize="8192"
        MaxServerConnections="2"
        MaxAllowedServerInstances="255"/>

    </PipeServerSettings>

    <RemoteQueueSettings>

      <queue QueueName="NC_Quick"
        IsTrans ="false"
        MaxRetry ="3"
        QueueProvider ="0"
        CoverMode ="5"/>

      <queue QueueName="NC_Bulk"
        IsTrans ="false"
        MaxRetry ="3"
        QueueProvider ="0"
        CoverMode ="5"/>

      <queue QueueName="Unicell"
        IsTrans ="false"
        MaxRetry ="3"
        QueueProvider ="0"
        CoverMode ="5"/>

      <queue QueueName="Cellact"
       IsTrans ="false"
       MaxRetry ="3"
       QueueProvider ="0"
       CoverMode ="5"/>
    </RemoteQueueSettings>

    <MailerSettings>
      
    <host HostName="myt_relay"
      HostMode ="0"
      Auth =""
      QueuePath =""
      EnableChunk ="true" />
   
  </MailerSettings>
    
  </MQueue>
  
  <appSettings>

    <add key="SystemKey" value="4.0.2.0-734a739868a76423"/>
    <add key="RemoteName" value="McQueueRemote"/>
    <add key="Provider" value="0"/>
    <add key="LoadOnStart" value="true"/>
    
    <add key="MaxSize" value="999999"/>
    <add key="SyncOption" value="Manual"/>
    <add key="XmlDataConfig" value=""/>
    <add key="TcpPort" value="9015"/>
    <add key="SecureChannel" value="false"/>

    <add key="EnableMailer" value="true"/>
    
    <!-- Mail Config -->
    <add key="IntervalManager" value="60000"/>
    <add key="IntervalDequeue" value="60000"/>
    <add key="MailerQueuePath" value="C:\Nistec\MQueue\MailerQueue\"/>
    <add key="MailerStorePath" value="C:\Nistec\MQueue\MailerStore\"/>
    <add key="MinItemsPerQueue" value="999999"/>
    <add key="MaxItemsPerSession" value="1000"/>
    <add key="DeleteIntervalSeconds" value="60"/>
    <add key="EnableChunk" value="true"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Nistec.Queue.Service.QueueProxy">
        <endpoint address="net.tcp://127.0.0.1:9015/QueueProxy" binding="netTcpBinding" bindingConfiguration="tcp_Unsecured" contract="Nistec.Messaging.Proxies.IQueueProxy"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
  <!-- mailerSettings
  
  <mailerSettings>
    <host id="myt_relay">
      <Port value=""/>
      <Host value="myt_relay"/>
      <UserName value=""/>
      <Password value=""/>
      <Domain value=""/>
      <QueuePath value=""/>
      <EnableChunk value="true"/>
    </host>
  </mailerSettings>
 -->
  
  <!-- Register a section handler for the remoteSettings section
  
	<remoteSettings>

		<queueSettings name="NC_Quick">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_Bulk">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MO">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MT">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Bezeq">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Inforu">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Unicell">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Teleclal">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual1">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual2">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>


	</remoteSettings>

	 -->
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
