<?xml version="1.0" encoding="utf-8" ?>

<Nistec>

  <RemoteQueueSettings>

    <queue QueueName="NC_Quick"
    IsTrans ="false"
    MaxRetry ="3"
    QueueProvider ="1"
    CommitMode="OnDisk"
    ReloadOnStart="true"
    CoverMode ="Persistent"/>

    <queue QueueName="NC_Bulk"
     IsTrans ="false"
     MaxRetry ="3"
     CommitMode="None"
     CoverMode ="Memory"/>

    <queue QueueName="Unicell"
      IsTrans ="false"
      MaxRetry ="3"
      CommitMode="None"
      CoverMode ="Memory"/>

    <queue QueueName="Cellact"
     IsTrans ="false"
     MaxRetry ="3"
     CommitMode="None"
     CoverMode ="Memory"/>
 

  </RemoteQueueSettings>

</Nistec>

  