<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false" />
    <section name="MQueue" type="Nistec.Messaging.Config.QueueServerConfig, Nistec.Queue.Server, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false" />
  </configSections>
  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Services\Logs\Queue.log" />
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace" />
      <add key="LogMode" value="File|Console" />
      <!--<add key="IsAsync" value="true"/>-->
      <add key="AsyncType" value="File|Service" />
    </NetlogSettings>
  </Netlog>
  <MQueue>
    <QueueSettings>
      <add key="RootPath" value="C:\Dev\Nistec\Git_4.0.2.0\MQueue\References\" />
      <add key="MaxSize" value="2000000" />
      <add key="DefaultExpiration" value="30" />
      <add key="SyncInterval" value="2" />
      <add key="InitialCapacity" value="100" />
      <add key="EnableLog" value="true" />
      <add key="ReceiveBufferSize" value="8192" />
      <add key="SendBufferSize" value="8192" />
      <add key="EnableDebugLog" value="false" />
      <add key="DbCoverConnection" value="Data Source=???; Initial Catalog=Netcell_Services; uid=???;password=???; Connection Timeout=30" />
      <!--<add key="LogMonitorCapacityLines" value="1000"/>-->
      <!--<add key="QueueConfigFile" value = "D:\Nistec\Bin_4.0.1\MCache\References\Config\McSyncCache.sync"/>-->
      <add key="EnableFileWatcher" value="true" />
      <add key="TaskerTimeout" value="60" />
      <add key="EnableAsyncTask" value="true" />
      <add key="EnablePipeConsumer" value="true" />
      <add key="EnableTcpConsumer" value="true" />
      <add key="EnableHttpConsumer" value="true" />
      <add key="EnableJournalQueue" value="true" />
      <!--<add key="EnableQueueController" value="true"/>
      <add key="EnableTopicController" value="true"/>-->
      <!--Bundle-->
      <add key="EnableTcpProducer" value="true" />
      <add key="EnablePipeProducer" value="true" />
      <add key="EnableHttpProducer" value="true" />
      <add key="EnableMailerQueue" value="false" />
      <add key="EnablePipeQueueManager" value="true" />
      <add key="EnableTcpQueueManager" value="true" />
      <add key="EnableSizeHandler" value="true" />
      <add key="EnablePerformanceCounter" value="true" />
      <add key="EnableMailerHost" value="true" />
      <add key="EnableMailerQueue" value="false" />
      <!-- Mailer Config -->
      <add key="IntervalManager" value="60000" />
      <add key="IntervalDequeue" value="60000" />
      <add key="MailerQueuePath" value="C:\Nistec\MailQueue\" />
      <add key="MailerStorePath" value="C:\Nistec\MailStore\" />
      <add key="MinItemsPerQueue" value="999999" />
      <add key="MaxItemsPerSession" value="1000" />
      <add key="DeleteIntervalSeconds" value="60" />
      <add key="EnableChunk" value="true" />
    </QueueSettings>
    <PipeServerSettings>
      <host HostName="nistec_queue_producer" PipeName="nistec_queue_producer" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_producer" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255" />
      <host HostName="nistec_queue_consumer" PipeName="nistec_queue_consumer" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_consumer" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255" />
      <host HostName="nistec_queue_manager" PipeName="nistec_queue_manager" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_manager" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255" />
    </PipeServerSettings>
    <TcpServerSettings>
      <host HostName="nistec_queue_producer" Address="127.0.0.1" Port="15000" IsAsync="true" ConnectTimeout="5000000" ReadTimeout="180000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1" />
      <host HostName="nistec_queue_consumer" Address="127.0.0.1" Port="15001" IsAsync="true" ConnectTimeout="5000000" ReadTimeout="180000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1" />
      <host HostName="nistec_queue_manager" Address="127.0.0.1" Port="15005" IsAsync="true" ConnectTimeout="5000" ReadTimeout="180000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1" />
    </TcpServerSettings>
    <HttpServerSettings>
      <host HostName="nistec_queue_producer" Address="localhost" Port="15100" Method="post" ConnectTimeout="5000000" ReadTimeout="1000000" MaxErrors="50" MaxServerConnections="1" />
      <host HostName="nistec_queue_consumer" Address="localhost" Port="15101" Method="post" ConnectTimeout="5000000" ReadTimeout="1000000" MaxErrors="50" MaxServerConnections="1" />
      <host HostName="nistec_queue_manager" Address="localhost" Port="15105" Method="post" ConnectTimeout="5000" ReadTimeout="1000" MaxErrors="50" MaxServerConnections="1" />
    </HttpServerSettings>
    <!--CommitMode=OnDisk|OnMemory|None  -->
    <!--CoverMode=Memory|Persistent|Complex|Rout|None  -->
    <RemoteQueueSettings>
       <queue QueueName="Controller"
          IsTrans ="false"
          MaxRetry ="3"
          CommitMode="OnMemory"
          ReloadOnStart="true"
          ConsumeInterval="1000"
          CoverMode ="Persistent"/>

        <queue QueueName="Sender"
            IsTrans ="false"
            MaxRetry ="3"
            CommitMode="OnMemory"
            ReloadOnStart="true"
            ConsumeInterval="1000"
            CoverMode ="Persistent"/>
        
      <queue QueueName="Netcell" IsTopic="true" TargetPath="tcp:127.0.0.1:15000?Necell" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" CoverMode="Persistent" ConsumeInterval="1000" />
      <queue QueueName="NC_Quick" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" CoverMode="Persistent" />
      <queue QueueName="NC_Bulk" IsTrans="false" MaxRetry="3" CommitMode="None" CoverMode="Memory" />
      <queue QueueName="Unicell" IsTrans="false" MaxRetry="3" CommitMode="None" CoverMode="Memory" />
      <queue QueueName="Cellact" IsTrans="false" MaxRetry="3" CommitMode="None" CoverMode="Memory" />
      
    </RemoteQueueSettings>
    <!--<ListenerSettings>

      <host HostName="myt_tcp"
        HostType ="0"
        Auth =""
        QueuePath =""
        HostAddress="" />

    </ListenerSettings>
    
    <MailerSettings>
      
    <host HostName="myt_relay"
      HostMode ="0"
      Auth =""
      QueuePath =""
      EnableChunk ="true" />
   
  </MailerSettings>-->
  </MQueue>
  <appSettings>
    <!-- 
    <add key="SystemKey" value="4.0.2.0-734a739868a76423"/>
    <add key="RemoteName" value="McQueueRemote"/>
    <add key="Provider" value="0"/>
    <add key="LoadOnStart" value="true"/>
    
    <add key="MaxSize" value="999999"/>
    <add key="SyncOption" value="Manual"/>
    <add key="XmlDataConfig" value=""/>
    <add key="TcpPort" value="9015"/>
    <add key="SecureChannel" value="false"/>

    <add key="EnableMailer" value="true"/>
     -->
    <!-- Mail Config 
    <add key="IntervalManager" value="60000"/>
    <add key="IntervalDequeue" value="60000"/>
    <add key="MailerQueuePath" value="C:\Nistec\MQueue\MailerQueue\"/>
    <add key="MailerStorePath" value="C:\Nistec\MQueue\MailerStore\"/>
    <add key="MinItemsPerQueue" value="999999"/>
    <add key="MaxItemsPerSession" value="1000"/>
    <add key="DeleteIntervalSeconds" value="60"/>
    <add key="EnableChunk" value="true"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Nistec.Queue.Service.QueueProxy">
        <endpoint address="net.tcp://127.0.0.1:9015/QueueProxy" binding="netTcpBinding" bindingConfiguration="tcp_Unsecured" contract="Nistec.Messaging.Proxies.IQueueProxy" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <!-- mailerSettings
  
  <mailerSettings>
    <host id="myt_relay">
      <Port value=""/>
      <Host value="myt_relay"/>
      <UserName value=""/>
      <Password value=""/>
      <Domain value=""/>
      <QueuePath value=""/>
      <EnableChunk value="true"/>
    </host>
  </mailerSettings>
 -->
  <!-- Register a section handler for the remoteSettings section
  
	<remoteSettings>

		<queueSettings name="NC_Quick">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_Bulk">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MO">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MT">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Bezeq">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Inforu">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Unicell">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Teleclal">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual1">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual2">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>


	</remoteSettings>

	 -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>