<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.7.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="MQueue" type="Nistec.Messaging.Config.QueueServerConfig, Nistec.Queue.Server, Version=4.7.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Services\Logs\Queue.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
      <!--<add key="IsAsync" value="true"/>-->
      <add key="AsyncType" value="File|Service"/>
    </NetlogSettings>
  </Netlog>
  <MQueue>
    <QueueSettings>
      <!--C:\Dev\Nistec\Git_4.0.2.0\MQueue\References\-->
      <add key="RootPath" value="C:\MServer\Services\Nistec.Queue\"/>
      <add key="QueuePath" value="C:\MServer\Services\Nistec.Queue\Queues\"/>
      <add key="MaxSize" value="2000000"/>
      <add key="MaxTopicConnections" value="5"/>
      <add key="DefaultExpiration" value="30"/>
      <!--<add key="SyncInterval" value="2"/>-->
      <!--<add key="InitialCapacity" value="100"/>-->
      <add key="EnableLog" value="true"/>
      <!--<add key="ReceiveBufferSize" value="8192"/>
      <add key="SendBufferSize" value="8192"/>-->
      <add key="EnableDebugLog" value="false"/>
      <add key="DbCoverConnection" value="Data Source=???; Initial Catalog=Netcell_Services; uid=???;password=???; Connection Timeout=30"/>
      <!--<add key="LogMonitorCapacityLines" value="1000"/>-->
      <!--<add key="QueueConfigFile" value = "D:\Nistec\Bin_4.0.1\MCache\References\Config\McSyncCache.sync"/>-->
      <add key="EnableFileWatcher" value="true"/>
      <add key="GcWatcherInterval" value="60000"/>
      

      <!--<add key="TaskerTimeout" value="60"/>-->
      <!--<add key="EnableAsyncTask" value="true"/>-->
      <!--<add key="EnableQueueController" value="true"/>-->
      <!--Pipe-->
      <add key="EnablePipeConsumer" value="false"/>
      <add key="EnablePipeProducer" value="false"/>
      <add key="EnablePipeQueueManager" value="false"/>
      <!--Http-->
      <add key="EnableHttpConsumer" value="false"/>
      <add key="EnableHttpProducer" value="false"/>
      <!--Tcp-->
      <add key="EnableTcpConsumer" value="true"/>
      <add key="EnableTcpProducer" value="true"/>
      <add key="EnableTcpQueueManager" value="true"/>
       <!--Bundle-->
      <add key="EnableJournalQueue" value="true"/>
      <add key="EnableSizeHandler" value="true"/>
      <add key="EnablePerformanceCounter" value="true"/>
      <add key="EnableTopicController" value="false"/>
      <!-- Mailer Config -->
      <!--<add key="EnableMailerQueue" value="false"/>
      <add key="EnableMailerHost" value="true"/>
      <add key="EnableMailerQueue" value="false"/>
      <add key="IntervalManager" value="60000"/>
      <add key="IntervalDequeue" value="60000"/>
      <add key="MailerQueuePath" value="C:\Nistec\MailQueue\"/>
      <add key="MailerStorePath" value="C:\Nistec\MailStore\"/>
      <add key="MinItemsPerQueue" value="999999"/>
      <add key="MaxItemsPerSession" value="1000"/>
      <add key="DeleteIntervalSeconds" value="60"/>
      <add key="EnableChunk" value="true"/>-->
    </QueueSettings>
    <PipeServerSettings>
      <host HostName="nistec_queue_producer" PipeName="nistec_queue_producer" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_producer" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255"/>
      <host HostName="nistec_queue_consumer" PipeName="nistec_queue_consumer" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_consumer" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255"/>
      <host HostName="nistec_queue_manager" PipeName="nistec_queue_manager" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_manager" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255"/>
    </PipeServerSettings>
    <TcpServerSettings>
      <host HostName="nistec_queue_producer" Address="127.0.0.1" Port="15000" AllowedIp="127.0.0.1" IsAsync="true" ConnectTimeout="5000" ReadTimeout="8000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1"/>
      <host HostName="nistec_queue_consumer" Address="127.0.0.1" Port="15001"  AllowedIp="127.0.0.1" IsAsync="true" ConnectTimeout="5000" ReadTimeout="8000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1"/>
      <host HostName="nistec_queue_manager" Address="127.0.0.1" Port="5005"  AllowedIp="127.0.0.1" IsAsync="false" ConnectTimeout="5000" ReadTimeout="8000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="1"/>
    </TcpServerSettings>
    <HttpServerSettings>
      <host HostName="nistec_queue_producer" Address="localhost" Port="15100" Method="post" ConnectTimeout="5000000" ReadTimeout="1000000" MaxErrors="50" MaxServerConnections="1"/>
      <host HostName="nistec_queue_consumer" Address="localhost" Port="15101" Method="post" ConnectTimeout="5000000" ReadTimeout="1000000" MaxErrors="50" MaxServerConnections="1"/>
      <host HostName="nistec_queue_manager" Address="localhost" Port="15105" Method="post" ConnectTimeout="5000" ReadTimeout="1000" MaxErrors="50" MaxServerConnections="1"/>
    </HttpServerSettings>
    <!--CommitMode=OnDisk|OnMemory|None  -->
    <!--CoverMode=Memory|Persistent|Complex|Rout|None  -->
    <RemoteQueueSettings>
      <queue QueueName="Controller" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent"/>
      <queue QueueName="Sender" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent"/>
      <queue QueueName="Netcell" IsTopic="false" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" CoverMode="Persistent" ConsumeInterval="1000"/>
      <!--<queue QueueName="Netcell" IsTopic="false" TargetPath="tcp:127.0.0.1:15002?Necell" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" CoverMode="Persistent" ConsumeInterval="1000"/>-->
      <queue QueueName="Swifter" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent" />
      <queue QueueName="OtpIn" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Memory" />
      <queue QueueName="Quick" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent" />
      <queue QueueName="OtpOut" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Memory" />
      <queue QueueName="Auto" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent" />
      <queue QueueName="FaultController" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent" />
      <queue QueueName="FaultSender" IsTrans="false" MaxRetry="3" CommitMode="OnMemory" ReloadOnStart="true" ConsumeInterval="1000" CoverMode="Persistent" />
    </RemoteQueueSettings>
  </MQueue>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--<system.serviceModel>
    <services>
      <service name="Nistec.Queue.Service.QueueProxy">
        <endpoint address="net.tcp://127.0.0.1:9015/QueueProxy" binding="netTcpBinding" bindingConfiguration="tcp_Unsecured" contract="Nistec.Messaging.Proxies.IQueueProxy"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>
