<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>


  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Services\Logs\QueueClient.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
      <!--<add key="IsAsync" value="true"/>-->
      <add key="AsyncType" value="File|Service"/>
    </NetlogSettings>
  </Netlog>

  
  <appSettings>
    <add key="PipeName" value="nistec_queue_manager"/>
  </appSettings>
  
  <!--
  <PipeServerSettings>

    <host HostName="nistec_queue_manager"
      PipeName="nistec_queue_manager"
      PipeDirection="InOut"
      PipeOptions="None"
      IsAsync="true"
      VerifyPipe="nistec_queue_manager"
      ConnectTimeout="5000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"
      MaxServerConnections="1"
      MaxAllowedServerInstances="255"/>

  </PipeServerSettings>
  -->
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
