<?xml version="1.0"?>
<configuration>

  <configSections>

    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Lib, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>

  </configSections>


  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="D:\Nistec\Services\Logs\Queue.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
