<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false" />
    <section name="RemoteCacheApi" type="Nistec.Channels.RemoteCache.CacheSettings, Nistec.Channels, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false" />
  </configSections>
  
  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\Cache\CacheConsole.log" />
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace" />
      <add key="LogMode" value="File" />
    </NetlogSettings>
  </Netlog>
  
  <RemoteCacheApi>
    <ApiSettings>
      <add key="PipeName" value="nistec_cache_bundle" />
      <add key="TcpPort" value="13000" />
      <add key="TcpAddress" value="localhost" />
      <add key="HttpPort" value="13010" />
      <add key="HttpAddress" value="localhost" />
      <add key="HttpMethod" value="post" />
      <add key="ConnectTimeout" value="5000" />
      <add key="ProcessTimeout" value="5000" />
      <add key="ReceiveBufferSize" value="4096" />
      <add key="SendBufferSize" value="4096" />
      <add key="SessionTimeout" value="30" />
      <add key="CacheExpiration" value="0" />
      <add key="IsAsync" value="false" />
      <add key="EnableRemoteException" value="true" />
    </ApiSettings>
  </RemoteCacheApi>
  
  <appSettings>
    <add key="EnableLog" value="false" />
    <add key="EnableJsonController" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>