<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.7.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="MQueue" type="Nistec.Messaging.Config.QueueServerConfig, Nistec.Queue.Server, Version=4.7.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>

  </configSections>


  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Services\Logs\Queue.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="Console"/>
      <!--<add key="IsAsync" value="true"/>-->
      <add key="AsyncType" value="File|Service"/>
    </NetlogSettings>
  </Netlog>

  <appSettings>
    <add key="QueueHost" value="tcp:127.0.0.1:15001?Netcell"/>
    <add key="QueueName" value="Netcell"/>
    <add key="Message" value="Please review the stack trace for more information about the error and where it originated in the code."/>
    <add key="Args" value="Assembly Load Trace: The following information can be helpful to determine why the assembly could not be loaded."/>
  </appSettings>

  <MQueue>


    <PipeServerSettings>
 
      <host HostName="nistec_queue_consumer" PipeName="nistec_queue_consumer" PipeDirection="InOut" PipeOptions="Asynchronous" IsAsync="true" VerifyPipe="nistec_queue_consumer" ConnectTimeout="5000" ReceiveBufferSize="8192" SendBufferSize="8192" MaxServerConnections="1" MaxAllowedServerInstances="255"/>

    </PipeServerSettings>
    
    <TcpServerSettings>

      <host HostName="nistec_queue_consumer" Address="127.0.0.1" Port="15001" IsAsync="true" ConnectTimeout="5000000" ProcessTimeout="1000000" ReceiveBufferSize="4096" SendBufferSize="4096" MaxSocketError="50" MaxServerConnections="10"/>
      </TcpServerSettings>
    
    <HttpServerSettings>

         <host HostName="nistec_queue_consumer" Address="http://localhost:15101/" Method="post" ConnectTimeout="5000000" ProcessTimeout="1000000" MaxErrors="50" MaxServerConnections="1"/>
      </HttpServerSettings>

 
    
  </MQueue>
  

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
