<?xml version="1.0"?>
<configuration>
  <configSections>
     <section name="Netlog" type="MControl.Generic.NetlogConfig, MControl.Net"/>
    <section name="MCache" type="MControl.Caching.CacheConfig, MControl.Cache"/>
  </configSections>

  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="D:\MControl\Services\Logs\Cache.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>

  <MCache>
    
    <CacheSettings>
      <add key="MaxSize" value="2000000"/>
      <add key="DefaultExpiration" value="30"/>
      <add key="SyncInterval" value="2"/>
      <add key="InitialCapacity" value="100"/>
      <add key="EnableLog" value="true"/>
      <add key="InBufferSize" value="8192"/>
      <add key="OutBufferSize" value="8192"/>
      <add key="QueueConfigFile" value = "D:\MControl\Bin_4.0.1\MCache\References\Config\McSyncCache.sync"/>
      <add key="EnableFileWatcher" value = "true"/>
      <add key="TaskerTimeout" value="60"/>
      <add key="EnableAsyncTask" value="true"/>
      <add key="EnableSizeHandler" value="true"/>
      <add key="EnablePerformanceCounter" value="true"/>
    </CacheSettings>

       
    <PipeServerSettings>

      <pipe PipeName="mc_enqueue"
         PipeDirection="InOut"
         PipeOptions="None"
         VerifyPipe="mc_cache"
         ConnectTimeout="5000"
         InBufferSize="8192"
         OutBufferSize="8192"
         MaxServerConnections="1"
         MaxAllowedServerInstances="255"/>

      <pipe PipeName="mc_dequeue"
        PipeDirection="InOut"
        PipeOptions="None"
        VerifyPipe="mc_cache"
        ConnectTimeout="5000"
        InBufferSize="8192"
        OutBufferSize="8192"
        MaxServerConnections="1"
        MaxAllowedServerInstances="255"/>

      <pipe PipeName="mc_queue_manager"
        PipeDirection="InOut"
        PipeOptions="None"
        VerifyPipe="mc_cache"
        ConnectTimeout="5000"
        InBufferSize="8192"
        OutBufferSize="8192"
        MaxServerConnections="2"
        MaxAllowedServerInstances="255"/>
      
    </PipeServerSettings>
    
  </MCache>
  
  <connectionStrings>
    <add name="NetcellDB" connectionString="Data Source=62.219.21.58; Initial Catalog=NetcellDB; uid=sa;password=Tishma5467; Connection Timeout=30"/>
    <add name="NetcellApp" connectionString="Data Source=62.219.21.58; Initial Catalog=NetcellApp; uid=sa;password=Tishma5467; Connection Timeout=30"/>
    <add name="AdventureWorks" connectionString="Data Source=62.219.21.58; Initial Catalog=AdventureWorks; User ID=sa; Password=Tishma5467; Connection Timeout=30" providerName="SqlServer"/>
  </connectionStrings>


  <appSettings>
    <add key="SystemKey" value="4.0.1.0-734a739868a76423"/>
    
   
    <add key="ConnectionString" value="Data Source=62.219.21.58; Initial Catalog=NetcellDB; uid=sa;password=Tishma5467; Connection Timeout=30"/>
    <add key="Provider" value="SqlServer"/>
    <add key="DataCacheName" value="McRemoteData"/>
    <add key="UseTableWatcher" value="true"/>
    <add key="LoadRemoteSettings" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\MCache.log" maxFileSizeKB="10000"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
