<?xml version="1.0"?>
<configuration>

  <configSections>

    <!-- Register a section handler for the remoteSettings section -->
    <section name="remoteSettings" type="System.Configuration.IgnoreSectionHandler"/>
 
  </configSections>
  <appSettings>

    
    
    <add key="RemoteName" value="McQueueRemote"/>
    <add key="ConnectionString" value="Data Source=MCONTROL; Initial Catalog=mcqueueDB; uid=sa;password=tishma; Connection Timeout=30"/>
    <add key="Provider" value="0"/>
    <add key="LoadOnStart" value="true"/>
    
    <add key="MaxSize" value="999999"/>
    <add key="SyncOption" value="Manual"/>
    <add key="XmlDataConfig" value=""/>
    <add key="TcpPort" value="9009"/>
    <add key="SecureChannel" value="false"/>


  </appSettings>

 
  <!--
  string[] channelProps = new string[] { "Quick", "Bulk", "Pending", "MO", "MOSYNC", "MT", "Alert" };
-->

  <!-- Register a section handler for the remoteSettings section -->
	<remoteSettings>

		<queueSettings name="NC_Quick">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_Bulk">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MO">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="NC_MT">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Bezeq">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Inforu">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Unicell">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Teleclal">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual1">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>

		<queueSettings name="Virtual2">
			<IsTrans value="false"/>
			<MaxRetry value="3"/>
			<QueueProvider value="0"/>
			<CoverMode value="5"/>
		</queueSettings>


	</remoteSettings>
		<!-- 
  <remoteSettings>

    <queueSettings name="NC_Quick">
      <IsTrans value="false"/>
      <MaxRetry value="5"/>
      <QueueProvider value="3"/>
      <CoverMode value="2"/>
     
    </queueSettings>


    
    <queueSettings name="NC_Pending">
      <IsTrans value="false"/>
      <MaxRetry value="5"/>
      <QueueProvider value="3"/>
      <CoverMode value="2"/>
    </queueSettings>
    
 

    <queueSettings name="NC_MOSYNC">
      <IsTrans value="false"/>
      <MaxRetry value="5"/>
      <QueueProvider value="3"/>
      <CoverMode value="2"/>
    </queueSettings>

 

    <queueSettings name="NC_Alert">
      <IsTrans value="false"/>
      <MaxRetry value="5"/>
      <QueueProvider value="3"/>
      <CoverMode value="2"/>
    </queueSettings>
    
  </remoteSettings>

	-->
	
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
